/* index.css o App.css */

:root {
  /* Configuración de fuentes y colores básicos */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Variables de color para temas oscuro y claro */
  --color-primary: #646cff;
  --color-primary-hover: #535bf2;
  --color-text-light: rgba(255, 255, 255, 0.87);
  --color-text-dark: #213547;
  --color-background-dark: #242424;
  --color-background-light: #ffffff;
  --color-button-dark: #1a1a1a;
  --color-button-light: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Aplicación de colores y tipografía general */
body {
  margin: 0;
  min-width: 50px;
  min-height: 50vh;
  background-color: var(--color-background-dark);
  color: var(--color-text-light);
  background-image: url('assets/homeimg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Estilo para enlaces */
a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-primary-hover);
}

/* Estilo para encabezados */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: inherit;
}

/* Botones generales */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-button-dark);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--color-text-light);
}

button:hover {
  border-color: var(--color-primary);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Tema claro para los usuarios que prefieren color claro */
@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-text-dark);
    background-color: var(--color-background-light);
  }

  body {
    background-color: var(--color-background-light);
    color: var(--color-text-dark);
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: var(--color-button-light);
  }
}

/* styles.css */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: #f8f9fa;
  color: #6c757d;
  font-size: 0.9rem;
  border-top: 1px solid #e7e7e7;
  position: fixed; /* Fijo en la parte inferior */
  left: 0;
  right: 0;
  bottom: 0; /* Se sitúa al fondo de la página */
  text-align: center;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.footerText {
  margin: 0;
}
